fire
triton
pydantic
accelerate
deepspeed
huggingface-hub
imageio
numpy
omegaconf
pandas
Pillow
tokenizers
torch
torchvision
transformers
xformers
safetensors
diffusers
sentencepiece
gradio
opencv-python
einops
timm
onnxruntime
